{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",

  "useTabs": false,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "parser": "typescript",
  "requirePragma": false,
  "insertPragma": false,
  "overrides": [
    {
      "files": "*.spec.ts",
      "options": {

        "printWidth": 100
      }
    }
  ]
}